fastapi
uvicorn
pydantic
sqlalchemy
python-jose
passlib
PyPDF2
python-docx
pandas
python-multipart
transformers
torch
ollama
pydantic-settings>=2.5.2
email-validator>=2.2.0
pydantic>=2.9.2
requests>=2.32.3
bcrypt>=4.2.0
